<% current_user.microposts.order('created_at DESC').each do |tweet| %>
  <div id="tweet">
		<div id="tweet_text">
	  	<%= link_to tweet.user.first_name + " " + tweet.user.last_name, tweet.user %><br />
	  	<%= tweet.content %><br />
	  	<span style="color:#A9BBCC">Posted <%= time_ago_in_words(tweet.created_at) %> ago</span>
		</div>
  	<div id="tweet_delete">
  		<%= link_to "X", tweet, :method => :delete, :confirm => "Are you sure", :remote => true %>
  	</div>
  </div>
<% end %>